<div class="container">
  <br /><br /><br />
  <h2>View Employee</h2>
  <br />
  <p>
    <a href="#" routerLink="/employee-list/" class="btn btn-primary">Back</a>
  </p>

  <div>
    <strong>ID : </strong>
    <span>{{ employee.id }}</span>
  </div>

  <div>
    <strong>Employee Name : </strong>
    <span>{{ employee.name }}</span>
  </div>

  <div>
    <strong>Employee Email : </strong>
    <span>{{ employee.email }}</span>
  </div>

  <div>
    <strong>Employee Phone : </strong>
    <span>{{ employee.phone }}</span>
  </div>
</div>
